<a href="https://colab.research.google.com/github/V-Nayak/New-/blob/main/Pythonpractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

fruits = ['apple','banana','orange','grapes']
fruits= sorted(fruits)
print(','.join(fruits))

if'Tomato'in fruits:
    print("banana is present in fruits")
else:
  print("Tomato is not present in fruits")

apple,banana,grapes,orange
Tomato is not present in fruits

In [ ]:
if 5 == 10 or 4 == 4:
    print("At least one of the statement is true")

At least one of the statement is true

In [ ]:
 a= input("Enter the value for a: ")
b= input("Enter the value for b: ")
c= input("Enter the value for c:  ")

if (a>=b) and (a>=c):
    print("a is the largest")
elif(b>=a) and (b>=c):
    print("b is the largest")
else:
  print("c is the largest")

Enter the value for a: 35
Enter the value for b: 45
Enter the value for c: 35
b is the largest

In [22]:
#Tuple
t=(1,2,3,3)
print(type(t))
print("3 is printed",t.count(3),"times starting from index location", t.index(3) )
#print(t.index(3))

<class 'tuple'>
3 is printed 2 times starting from index location 2

In [30]:
#set- unordered collection of unique elements
myset=set()
myset.add(1)
myset.add(2)
myset.add(2)# this value will not be added
mylist = [1,2,2,3,4,4,1,1,2,2,3,3] # here as well iot6 will not accept the rpetation
set(mylist) # so it take the

{1, 2, 3, 4}

In [31]:
mystring = ("Mississippi")
set(mystring)

{'M', 'i', 'p', 's'}