<a href="https://colab.research.google.com/github/V-Nayak/New-/blob/main/Pyth_New.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
join()#Outcome of Join function is always string
If else
If elif else

In [1]:
words = ['Yellow',"Blue","Red","White"]

In [5]:
print("".join(words))

YellowBlueRedWhite

In [6]:
print("-".join(words))

Yellow-Blue-Red-White

In [8]:
colors = ['Yellow',"Blue","Red","White"]
result = "".join(colors)# without any space joining the content of
print(result)

YellowBlueRedWhite

In [18]:
Mydict = {"Name":"Trisha", "Standard":"Seventh","Abr":"Miss"}
x = "-".join(Mydict) #keys will be joined
print(x)

Name-Standard-Abr

In [16]:
MyTuple1 = ('Yellow',"Blue","Red","White")
x= " ".join(sorted(MyTuple1)) # joining with alphabetical manner
print(x)

Blue Red White Yellow

In [20]:
MyTuple2 = ('3Yellow',"2Blue","1Red","0White")
x= ' '.join(sorted(MyTuple2))# sorting is based on the first digit/letter of word
print(x)

0White 1Red 2Blue 3Yellow

In [23]:
MyTuple3 = ('4545',"334","11122","012")
x= ' '.join(sorted(MyTuple3))# sorting is based on the first digit/letter of word not the value.
print(x)

012 11122 334 4545

In [ ]:
#sorting of colours as per hue
import colorsys

def get_hsv(hexrgb):
    hexrgb = hexrgb.lstrip()  # Remove the "#" if present

    for i in range(0, 5, 2):
      r, g, b = (int(hexrgb[i:i+2]) *16 )/ 255.0
      return colorsys.rgb_to_hsv(r, g, b)

# Example list of RGB hex colors
color_list = ["Green", "Blue", "White"]

# Sort the list by hue
color_list.sort(key=get_hsv)

print(color_list)

In [42]:
employee ={
    "vinayak":{"Comapny":"IBM","work":"Remote","salary":"70k"},
    "Revan":{"Comapny":"ADB","work":"Hybrid","salary":"80k"},
    "Parshuram":{"Comapny":"WB","work":"office","salary":"90k"},
}
print(employee["Revan"]["work"])

Hybrid

In [47]:
employee["Revan"]["work"]= "Remote"
employee["Parshuram"]["salary"]= "1lakh"
employee["Sandy"]={"Comapny":"BSE","work":"Office","salary":"150k"}

In [48]:
 employee

{'vinayak': {'Comapny': 'IBM', 'work': 'Remote', 'salary': '70k'},
 'Revan': {'Comapny': 'ADB', 'work': 'Remote', 'salary': '80k'},
 'Parshuram': {'Comapny': 'WB', 'work': 'office', 'salary': '1lakh'},
 'Sandy': {'Comapny': 'BSE', 'work': 'Office', 'salary': '150k'}}

In [51]:
a=20
b=10
if a>b:
  print("a is greater than b")
else:
  print("b is greater than a")

a is greater than b

In [53]:
c=20
if (a>b) and (a>c):
  print("a is greatest number")
elif(b>a) and (b>c):
  print("b is greatest number")
else:
  print("c is greatest number")

c is greatest number

In [56]:
tuple=(a,b,c)
if a in tuple:
  print(value present in tuple )
else:
  print(value absent in tuple )

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-56-1edfa3168bf0>, line 3)