<a href="https://colab.research.google.com/github/V-Nayak/New-/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1
Level 1

Question: Write a program which will find all such numbers which are divisible by 8 and multiple of 5, between 300 and 500 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

Hints: Consider use range(#begin, #end) method

Solution:

In [9]:
l=[]
for i in range(300 ,500):
  if (i%8== 0) and (i%5== 0):
    l.append(i)

print(l)
print(len(l))
m=[]

#len(l)= i
#for i in range:
# if (i>= 400) and (i<= 450):
#    m.append(i)

# print(len(m))

[320, 360, 400, 440, 480]
5