<a href="https://colab.research.google.com/github/V-Nayak/New-/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#finding second highest number in list
list_1=[4,5,9,15,25,25,16,6,7]
set_1= set(list_1)
#for i in the list_1:
 # i
list_=list(set_1)
print(list_[len(list_)-2])

16

In [ ]:
print(list(set(list_1))[-2])

16

In [ ]:
#REverse the number
n = 56782
string = str(n)
print(string[::-1])

28765

In [ ]:
n = 14568
while :
x= n%10
o= n//10
y =o%10
p= o//10
z= p%10
q= p//10
a= q%10
r=q//10

print(x,y,z,a,r)

80 6 5 4 1

In [2]:
def Solve(N, K):
    result = [0] * K
    i = 0
    while N > 0:
        for j in range(K):
            if N <= 0:
                break
            result[j] += i + 1
            N -= 1
            i += 1
        i = 0
    return result

# Example usage:
N = 10
K = 5
output = Solve(N, K)
print(' '.join(map(str,output))

SyntaxError: incomplete input (<ipython-input-2-7d47b65fa25c>, line 18)

In [3]:
def Solve(N, K):
    result = [0] * K
    i = 0
    while N > 0:
        for j in range(K):
            if N <= 0:
                break
            result[j] += i + 1
            N -= 1
            i += 1
        i = 0
    return result

# Example usage:
N = 10
K = 5
output = Solve(N, K)
print(' '.join(map(str, output)))

2 4 6 8 10